<h1>Page: Partials</h1>
<div>
    {{> ptest }}
</div>
<div>
    {{#> ptest }}
    Not show
    {{/ptest}}
</div>
<br />

<div>
    {{> ptest2 value1="testvalue1" value2="testvalue2" }}
</div><br />

<div>
{{#> failPartial }}
Failover
{{/failPartial}}
</div><br />

<div>
    {{#> ptest3 }}
        (This is inside partials page)
    {{/ptest3 }}
</div><br />

<div>
    {{#> ptest4 }}
        {{#*inline "nav"}}
        Partial block Nav
        {{/inline}}
        {{#*inline "content"}}
        Partial block Content
        {{/inline}}
    {{/ptest4 }}
</div><br />
