<div>
{% if variableTrue %}
This is a true variable
{% endif %}
</div>

<div>
    {% if (10 === 10 and 11 === 10) or variableTrue %}
    This should be shown
    {% endif %}
</div>

<div>
    {% if not variableTrue %}
    This should not be shown
    {% endif %}
</div>

<div>
    {% if not variableTrue %}
    This should not be shown
    {% else %}
    This is a else
    {% endif %}
</div>

<div>
    {% for item in array %}
        <div>
        {{ loop.index }} - {{ item }} - {{ loop.length }}
        </div>
    {% endfor %}
</div>

{% import "macro.html" as m %}
{{ m.exampleMacro('Kevin') }}


{% raw %}{{}}{% endraw %}

<div>
{% filter replace("name", "kevin") %}
This is my name
{% endfilter %}
</div>

{# Test of comment #}

<div>
{% set regExp = r/^kevin.*/g %}
{% if regExp.test('kevin') %}
Kevin found!
{% endif %}
{% if regExp.test('Kevin') %}
Kevin should not be found! (case sensible)
{% endif %}
</div>

<div>
{% for i in [1,2,3,4,5] -%}
{{ i }}
{%- endfor %}
</div>
<div>
    {% for i in [1,2,3,4,5] %}
    {{ i }}
    {% endfor %}
</div>
